@model SuperCarSpot.Models.Order

@{
    if (Model == null || Model.Favourite.FavouriteItems == null || Model.Favourite.FavouriteItems.Count == 0)
    {
        <div class="alert alert-warning">
            <p>You must add items to your favourite!</p>
        </div>

        return;
    }
}
@{
    ViewData["Title"] = "Order Details for" + Model.Favourite.User.Email;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Car Name</th>

                <th>Price</th>
                <th>Car Photo</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var favouriteItem in Model.Favourite.FavouriteItems)
            {
                var price = favouriteItem.Price;

                <tr>
                    <td>
                        @favouriteItem.Car.Name
                    </td>
                    <td>@favouriteItem.Price</td>
                    <td>@favouriteItem.Car.Photo</td>

                </tr>
            }
        </tbody>
        <tfoot>
            
            <tr>
                <th>Total:</th>
                <td colspan="3">@Model.Total</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>



<div>

    <a asp-action="Index">Back to Brands</a>
</div>
